spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: ajaymoholvinbox/go-k8s-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080

